<div class="add-product-section mt-3">
  <div class="box-head">
    <h1 class="pr-name">Add a supplier</h1>
    <button type="button" class="btn btn-light" (click)="cancel()">X</button>
  </div>
  <form [formGroup]="supplierFrom" (ngSubmit)="onSubmit()" class="row g-3">
    <div class="form-group">
      <label class="form-label">Supplier Name</label>
      <input type="text" class="form-control" formControlName="supplierName" />
    </div>
    <div class="form-group">
      <label class="form-label">Supplier Address</label>
      <input type="text" class="form-control" formControlName="address" />
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <label class="form-label">Joined Date</label>
          <input
            type="date"
            class="form-control"
            formControlName="joinedDate"
          />
        </div>
        <div class="col-md-6">
          <label class="form-label">Mobile No</label>
          <input
            type="text"
            class="form-control"
            formControlName="mobileNo"
          />
          <div *ngIf="f['mobileNo'].errors && f['mobileNo'].errors['pattern']" class="error">
            Only numbers are allowed
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 text-end mt-5">
      <button type="button" class="btn btn btn-outline-secondary me-2">
        cancel
      </button>
      <button
        type="submit"
        [disabled]="!supplierFrom.valid"
        class="btn btn-outline-primary"
      >
        Submit<i
          *ngIf="isDataUploading"
          class="fa fa-spinner fa-pulse fa-fw"
        ></i>
      </button>
    </div>
  </form>
</div>
